/* Media Queries to manage size and styles */

body {
    color: saddlebrown;
}


* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 10px;
    font-family: georgia;
}

body {
    background-color: blanchedalmond;
}

p {
    border: 1px solid black;
    background-color: #d9caca;
    width: 95%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: white;
}


/* Simple Responsive Framework. */

.row {
    width: 100%;
}


/********** Desktop **********/

@media (min-width: 992px) {
    /* Test */

    .dp {
        background-color: gray;
    }
    .col-dp {
       
        border: 2px solid blue;
        width: 25%;
    }
    

    .col-dp {
        background-color: gray;
        float: left;
    }
    .col-dp {
       
        border: 2px solid red;
        width: 33.33%;
    }
}


/********** Tablet devices **********/

@media (min-width: 768px) and (max-width: 991px) {
    /* Test */
    .tb {
        background-color: yellow;
    }
    .col-tb {
       
        border: 3px solid blue;
        width: 33%;

    }
    .col-tb-1 {
        background-color: yellow;
        float: left;
    }
    .col-tb {
        /* float: left; */
        
        border: 3px solid blue;
        width: 50%;
    }
    .col-tb-1 {
        
        border: 3px solid blue;
        width: 100%;
    }
}


/********** Mobile devices **********/

@media (max-width: 767px) {
    /* Test */
    .mo {
        background-color: red;
    }
    .col-mo {
        
        border: 5px solid black;
        width: 50%;

    .col-mo {
        float: left;
        border: 1px solid black;
        width: 100%;
        background-color: gray;

    }
}
